.directons__card {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    justify-content: flex-end;
    min-width: 200px;
    max-height: 250px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px;
  
}

.dialog__directionsInner {
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    max-width: auto;
    padding: 20px;
}

.dialog__directions {
    max-width:45%;
    font-family: HelveticaNeue-Light;
    font-size: 15px;
    border: none;
    -webkit-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    -moz-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90); 
}

.dialog__directions .close__directionsDialog {
    min-width: fit-content;
    max-width: 15%;
    margin: 20px 0 5px 0;
    outline: none;
}



